        body{
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            background-color:whitesmoke;
            
            background: url('https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg') ;            ; background-repeat: no-repeat; background-size: cover; background-position: center;
        }
